.complete-list-wrapper {
  width: 100%;
  height: 150px;
  margin:  0 0 10px 0;
}
.complete-list-wrapper::after {
  content: "";
  clear: both;
  display: block;
}
.complete-list-box {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 0 30px;
}
.complete-header {
  width: 100%;
}
.complete-list {
  width: 100%;
}
